* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  
  overflow-x: hidden;
}

/* Fullscreen Video Section */
.video-section {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

#bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 101%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 70%;
  left: 3%;
  /* transform: translate(-50%, -50%); */
  /* text-align: center; */
  color: rgb(255, 255, 255);
}

.overlay h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.overlay p {
  font-size: 1.2rem;
  color: #ddd;
}

/* Content Below Video */

.content-section {
  padding: 80px 20px;
  min-height: 100vh;
}

.content-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ffcc00;
}

.content-section p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #ccc;
  max-width: 800px;
  margin-bottom: 40px;
}

.hello{
  color: black;
  font-size: 8vh;
}

.paragraph{
  color: black;
  font-family: 'Courier New', Courier, monospace;
}


/* ###################### */


  .custom-navbar {
    background-color: transparent !important;
  }

  /* White bold text with black border */
  .custom-navbar .nav-link,
  .custom-navbar .navbar-brand {
    color: white !important;
    font-weight: bold;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  }

  /* Hover effect */
  .custom-navbar .nav-link:hover {
    color: #f8f9fa !important;
  }

  /* Dim disabled link */
  .custom-navbar .nav-link.disabled {
    opacity: 0.6;
  }

  /* White hamburger icon (forced) */
  .navbar-toggler {
    border-color: white !important;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
  }
  
  .pointer{
    cursor: pointer;
  }

  .footer{
    background-color: red;
    width: 100%;
    height: 50px;
    flex: 1;
  }

  .book{

    width: 50%;
    height: 20vh;
    background-color: rgb(158, 191, 218);
    border-radius: 15px;

  }

  .alltitals{
    font-family: 'Abhaya Libre Medium';
    
  }

  

